<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultMessage" value="Radio Reflex - Mechelen 106.2 FM - Boom/Rupelstreek 106.9 FM"/>
    <add key="inputFile" value="rds_in.txt"/>
    <add key="outputFile" value="rds_out.txt"/>
    <add key="sleepSeconds" value="5" />
    <add key="debug" value="true" />
  </appSettings>
</configuration>